@{
    ViewData["Title"] = "Contact";
}
<!--<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>-->
<h2>Contact me:</h2>
<address>
    City of Curitiba<br />
    Paraná State - Brazil<br />
    Skype: <abbr title="Skype">rhodes.bauer</abbr>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:postmaster@bauer.net.br">postmaster@bauer.net.br</a><br />
</address>
